DATABASE_URL=postgresql://yukinu:supersecret@127.0.0.1:5432/db

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

SEPAY_TOKEN=
NEXT_PUBLIC_SEPAY_DEMO=
NEXT_PUBLIC_BANK_NAME=
NEXT_PUBLIC_BANK_ACCOUNT=

RESEND_TOKEN=
UPLOADTHING_TOKEN=

TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
