# App configuration (for next.js)
NEXT_PUBLIC_APP_NAME="Yukinu"
NEXT_PUBLIC_TRPC_USE_STREAMING="true" # Disable httpBatchStreamLink if deploying to Nginx

# App configuration (for vite)
VITE_APP_NAME="Yukinu"
VITE_TRPC_USE_STREAMING="true" # Disable httpBatchStreamLink if deploying to Nginx

# Database configuration
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="yuki_db"
POSTGRES_SSL_MODE="false" # Disable SSL mode for local development

# OAuth configuration
AUTH_FACEBOOK_ID=""
AUTH_FACEBOOK_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Third-party service API tokens
RESEND_TOKEN=""
UPLOADTHING_TOKEN=""
