# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# react router
.react-router/

# tanstack start
.output/
.tanstack/
routeTree.gen.ts
app.config.timestamp_*.js

# nitro
.nitro/

# java
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# java (gradle)
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# java (maven)
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# production
build/
dist/
bin/

# misc
.cache/
generated/
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
!.env.example

# turbo
.turbo/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode
.vscode/
