services:
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_HOST: 'db'
    ports:
      - '3000:3000'
    depends_on:
      - db

  dashboard:
    build:
      context: .
      dockerfile: ./apps/dashboard/Dockerfile
    restart: unless-stopped
    ports:
      - '3001:3001'
    depends_on:
      - db

  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_DB: '${POSTGRES_DATABASE}'
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
