services:
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_HOST: 'db'
    expose:
      - '3000'
    depends_on:
      - db

  # dashboard:
  #   build:
  #     context: .
  #     dockerfile: ./apps/dashboard/Dockerfile
  #   restart: unless-stopped
  #   expose:
  #     - '3001'
  #   depends_on:
  #     - db

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - web
    volumes:
      - ./tools/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_DB: '${POSTGRES_DATABASE}'
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
