services:
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: unless-stopped
    expose:
      - '3000'
    depends_on:
      - db

  dashboard:
    build:
      context: .
      dockerfile: ./apps/dashboard/Dockerfile
    restart: unless-stopped
    expose:
      - '3000'
    depends_on:
      - db

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./tools/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./tools/nginx/certbot-www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web
      - dashboard

  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_DB: '${POSTGRES_DATABASE}'
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:
